<launch>
    <arg name="type" default="gazebo"/>
    <arg name="solver_type" default="qp"/>

    <rosparam file="$(find Go1_cpp)/config/$(arg type)_go1_$(arg solver_type).yaml" command="load"/>

    <node pkg="Go1_cpp" type="$(arg type)_go1_ctrl" name="$(arg type)_go1_ctrl" output="screen"/>
</launch>
